@{
    ViewBag.Title = "Потвърждение на парола (ако е забравено)";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Проверете имейла си, за да зададете нова парола.
    </p>
</div>
	
