@model Carterestt.Models.IndexViewModel
@{
    ViewBag.Title = "Logo";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <img src="~/Images/01.jpg" width="1200" height="620"  alt="IMAGES" />
</div>
